<div [formGroup]="formGrup" class="p-3">
    <div>
        <h1>Wyszukiwanie</h1>
    </div>
    <hr>
    <div class="form-group">
        <label for="inputProject">Projekt</label>
        <select id="inputProject" class="form-control" (change)="dropDownHandler($event.target.value)">
            <option *ngFor="let item of categorys; index as i" [value]="i"> {{item.title}} </option>
        </select>
    </div>
    <div class="form-group">
        <label for="data">Data</label>
        <input type="date" class="form-control" id="data" placeholder="Tytuł postu" formControlName="date">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="mintime">Minimalny czas</label>
            <input type="text" class="form-control" id="mintime" placeholder="Minimalny czas" formControlName="minTime">
        </div>
        <div class="form-group col-md-6">
            <label for="maxtime">Maksymalny czas</label>
            <input type="text" class="form-control" id="maxtime" placeholder="Maksymalny czas" formControlName="maxTime">
        </div>
    </div>
    <div class="form-group">
        <label for="texttofind">Wyszukaj</label>
        <input type="text" class="form-control" id="texttofind" placeholder="Czego szukasz?" formControlName="searchText">
    </div>
    <button type="button" class="btn btn-dark btn-block mb-2" (click)="search()">Wyszukaj</button>
</div>