<nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LOGO</a>

    <div class="row" >
        <div class="col-xs-6 navbar-brand" *ngFor="let category of categoryList"> {{category.title}}</div>
    </div>
    <div class="row" >
        <fa-icon  class="col-xs-6 navbar-brand" [icon]="iconSearch"></fa-icon>
        <fa-icon  class="col-xs-6 navbar-brand" [icon]="iconUser"></fa-icon>
        <fa-icon  class="col-xs-6 navbar-brand" [icon]="iconPlus"></fa-icon>
    </div>
</nav>