.my-nav-link{
    color: white !important;
}
.my-nav-link:hover{
    color: #cccecf !important;
}
.my-nav-link:active{
    color: #cccecf !important;
}
.my-nav-link:focus{
    color: #cccecf !important;
}
.my-nav-margin{
    margin-left: 113px;
}
@media (max-width: 991px) {
    .my-nav-margin{
        margin-left: 0px;
    }
}