<nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LOGO</a>

    <div class="row" >
        <diV *ngFor="let category of categoryList">
            <a [routerLink]="['CategoryView/', category.id]" > <div class="col-xs-6 navbar-brand" > {{category.title}}</div></a>
        </diV>
        
    </div>
    <div class="row" >
        <fa-icon  class="col-xs-6 navbar-brand" [icon]="iconSearch"></fa-icon>
        <fa-icon  class="col-xs-6 navbar-brand" [icon]="iconUser"></fa-icon>
        <fa-icon  class="col-xs-6 navbar-brand" [icon]="iconPlus"></fa-icon>
    </div>
</nav>