<section class="container">
  <h1 class="mt-2 pb-3">Dodawanie artykułu</h1>
  <div class="border rounded p-3 my-2">
    <form>
      <!-- Dodanie arykułu -->
      <div [formGroup]="formGrup">
        <div class="form-group">
          <label for="inputPostTitle">Tytuł postu</label>
          <input type="text" class="form-control" id="inputPostTitle" placeholder="Tytuł postu" formControlName="title">
        </div>
        <div class="form-group">
          <label for="inputProject">Projekt</label>
          <select id="inputProject" class="form-control">
            <option selected disabled>Wybierz projekt</option>
            <option *ngFor="let catitem of categoryList; index as i" (click)="selectCategory(catitem)">{{ catitem.title }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="inputPostText">Tekst postu</label>
          <input type="text" class="form-control" id="inputPostText" placeholder="Tekst postu" formControlName="PostText">
        </div>
        <div class="form-group">
          <label for="inputPostTime">Czas czytania postu</label>
          <input type="text" class="form-control" id="inputPostTime" placeholder="Czas czytania postu" formControlName="ReadTime">
        </div>
      </div>
      <!-- Dodane sekcje-->
      <legend class="col-form-label">Dodane sekcje</legend>
      <div class="border rounded p-3 mb-2" *ngFor="let item of newSection; index as i">
        <div *ngIf="!expandableRow[i]">
          <dl class="row">
            <dt class="col-sm-1">Tytuł</dt>
            <dd class="col-sm-11">{{ item.title }}</dd>
            <dt class="col-sm-1">Tekst</dt>
            <dd class="col-sm-11">{{ item.SectionText }}</dd>
          </dl>
          <button type="button" (click)="editSectionButton(i)" class="btn btn-dark">Edytuj</button>
        </div>
        <div [formGroup]="SectionEditGrup" *ngIf="expandableRow[i] && editArticle">
          <div class="form-group">
            <label for="inputSectionTitle">Tytuł sekcji</label>
            <input type="text" class="form-control" id="inputSectionTitle" placeholder="Tytuł sekcji" formControlName="SectiontitleEdit">
          </div>
          <div class="form-group">
            <label for="inputSectionText">Tekst sekcji</label>
            <textarea class="form-control" id="inputSectionText" rows="3" formControlName="SectionTextEdit"></textarea>
          </div>
          <button type="button" (click)="editSection(i)" class="btn btn-dark">Zapisz sekcję</button>
        </div>
      </div>
      <!-- Sekcja -->
      <button *ngIf="!sectionStatus" (click)="addSection()" type="button" class="btn btn-dark btn-block mb-2">Dodaj Sekcje</button>
      <button *ngIf="sectionStatus" (click)="sectionStatus = !sectionStatus" type="button" class="btn btn-dark btn-block mb-2">Anuluj</button>
      <div class="border rounded p-3 mb-2" [formGroup]="SectionGrup" *ngIf="sectionStatus">
        <div class="form-group">
          <label for="inputSectionTitle">Tytuł sekcji</label>
          <input type="text" class="form-control" id="inputSectionTitle" placeholder="Tytuł sekcji" formControlName="Sectiontitle">
        </div>
        <div class="form-group">
          <label for="inputSectionText">Tekst sekcji</label>
          <textarea class="form-control" id="inputSectionText" rows="3" formControlName="SectionText"></textarea>
        </div>
        <div class="form-group">
          <legend class="col-form-label">Wybierz zdjęcie</legend>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputAddImage" aria-describedby="inputAddImage1">
            <label class="custom-file-label" for="inputAddImage" data-browse="Wybierz">Wybierz zdjęcie</label>
          </div>
        </div>
        <button type="button" (click)="saveSection()" class="btn btn-dark">Zapisz sekcję</button>
      </div>
      <!-- Zapis -->
      <button type="submit" (click)="save()" class="btn btn-dark">Dodaj post</button>
    </form>
  </div>
</section>

<div>
  <!-- Cards start -->
  <div class="container" style="margin-top: 30px; margin-bottom: 20px;">
    <div class="">
      <div class="row ">
        <div class="col pb-3">
          <div class="card">
            <div [formGroup]="formGrup">
              <div class="form-group row align-items-center required">
                <label class="col-md-3 col-form-label asterisk">Tytuł postu</label>
                <div class="col-md-5">
                  <input type="text" class="form-control" name="title" formControlName="title" />
                </div>
              </div>
              <div class="form-group row align-items-center required">
                <label class="col-md-3 col-form-label asterisk">Projekt</label>
                <div class="col-md-5">
                  <div ngbDropdown class="d-inline-block">
                    <button class="btn " id="dropdownSubAccounts" ngbDropdownToggle>
                      <span *ngIf="selectedCategory == null">Wybierz projekt</span>
                      <span *ngIf="selectedCategory != null">
                        {{
                        selectedCategory.title
                        }}
                      </span>
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownSubAccounts">
                      <button class="dropdown-item" *ngFor="let catitem of categoryList; index as i"
                        (click)="selectCategory(catitem)">
                        {{ catitem.title }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row align-items-center required">
                <label class="col-md-3 col-form-label asterisk">Text postu</label>
                <div class="col-md-5">
                  <input type="text" class="form-control" name="PostText" formControlName="PostText" />
                </div>
              </div>
              <div class="form-group row align-items-center required">
                <label class="col-md-3 col-form-label asterisk">Czas czytania postu</label>
                <div class="col-md-5">
                  <input type="text" class="form-control" name="ReadTime" formControlName="ReadTime" />
                </div>
              </div>
            </div>
            <hr>

            <div *ngFor="let item of newSection; index as i">
              <div *ngIf="!expandableRow[i]">
                <div>Tytuł <span> {{ item.title }} </span> </div> <br>
                <div>Text <span> {{ item.SectionText }} </span> </div>
                <button (click)="editSectionButton(i)" type="submit">Edytuj</button>
              </div>
              
              <div [formGroup]="SectionEditGrup" *ngIf="expandableRow[i] && editArticle">
                <div class="form-group row align-items-center required">
                  <label class="col-md-3 col-form-label asterisk">Tytuł sekcji</label>
                  <div class="col-md-5">
                    <input value="cos"  type="text" class="form-control" name="SectiontitleEdit" formControlName="SectiontitleEdit" />
                  </div>
                </div>
                <div class="form-group row align-items-center required">
                  <label class="col-md-3 col-form-label asterisk">Text sekcji</label>
                  <div class="col-md-5">
                    <input value="cos"  type="text" class="form-control" name="SectionTextEdit" formControlName="SectionTextEdit" />
                  </div>
                </div>
                <button (click)="editSection(i)" type="submit">Zapisz Sekcje</button>
              </div>

            </div>

            <hr>
            <button *ngIf="!sectionStatus" (click)="addSection()" type="submit">Dodaj Sekcje</button>
            <button *ngIf="sectionStatus" (click)="sectionStatus = !sectionStatus" type="submit">Anuluj</button>

            <div [formGroup]="SectionGrup" *ngIf="sectionStatus">
              <div class="form-group row align-items-center required">
                <label class="col-md-3 col-form-label asterisk">Tytuł sekcji</label>
                <div class="col-md-5">
                  <input type="text" class="form-control" name="Sectiontitle" formControlName="Sectiontitle" />
                </div>
              </div>
              <div class="form-group row align-items-center required">
                <label class="col-md-3 col-form-label asterisk">Text sekcji</label>
                <div class="col-md-5">
                  <input type="text" class="form-control" name="SectionText" formControlName="SectionText" />
                </div>
              </div>
              <div class="form-group row align-items-center required">
                <label class="col-md-3 col-form-label asterisk">Zdjęcia sekcji</label>
                <div class="col-md-5">
                  <input #imageInput
                    value="cos"
                    class="form-control" 
                    name="SectionTextEdit" 
                    formControlName="SectionTextEdit"
                    type="file"
                    accept="image/*"
                    > 
                </div>
              </div>
              <button (click)="saveSection()" type="submit">Zapisz Sekcje</button>
            </div>
            
            <button (click)="save()" type="submit">Zapisz</button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- Cards end -->
</div>