<div>
    <div class="container-fluid no-padding">
        <div class="container-fluid px-0">
            <div class="row">
                <div class="mw-100 container" style="width: 100%">
                    <img class="images img-responsive mw-100" [src]="imagePath" class="img-fluid" alt="Responsive image"
                        style="height: calc(100vh - 55.33px); width: 100%; object-fit: cover;" />
                    <div class="left">Bottom Left</div>
                    <div class="right">Bottom Right</div>
                    <div class="centered">Centered</div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: -60px; margin-bottom: 20px;" >
        <div class="">
            <div class="row ">
                <div class="col d-flex justify-content-center">
                    <div class="card" >
                        <img class="card-img-top" [src]="imagePath" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the
                                card's content.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            
                        </div>
                    </div>
                </div>
                <div class="col d-flex justify-content-center">
                    <div class="card" >
                        <img class="card-img-top" [src]="imagePath" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the
                                card's content.</p>
                        </div>
                        <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>