<div>
    <!-- Top image start -->
    <div class="container-fluid main-image d-flex align-items-center" [ngStyle]="{ 'background-image': 'url(' + imagePath + ')'}">
        <div class="my-bg-dark"></div>
        <div style="width: 100%;">
            <h1 class="main-top text-center m-0">{{ categorySite.CategoryText }}</h1>
            
        </div>
    </div>
    <!-- Top image end -->
    <!-- Cards start -->
    <div class="container" style="margin-top: -60px; margin-bottom: 20px;" >
        <div class="">
            <div class="row ">

                <div class="col-md-6 pb-3" *ngFor="let post of posts; index as i">
                    <div class="card" style="box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.4);">
                        <img class="card-img-top" *ngIf="post.image == null" [src]="imagePath" alt="Card image cap">
                        <img class="card-img-top" *ngIf="post.image != null" [src]="post.imagePath" alt="Card image cap">
                        <p class="text-muted m-0" style="padding-left: 1.25rem;"> {{ post.date }} </p>
                        <div class="card-body">
                            <h5 class="card-title">{{post.Category.title}}</h5>
                            <p class="card-text card-text-line">{{post.title}}</p>
                        </div>
                        <div class="card-body d-flex">
                            <span>Czas czytania: {{post.ReadTime}} min </span>
                            <a [routerLink]="['/ArticleView/', post.id]" class="card-link ml-auto my-card-link">Czytaj dalej <fa-icon [icon]="iconArrow"></fa-icon></a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Cards end -->
</div>
